* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Noto Sans JP", "Noto Sans";
    font-weight: bold;
}

h1 {
    font-size: 7vw;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    top: 0;
    z-index: 100;
}

.openbtn{
    display: block;
	position: relative;
	background:#919191;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 50px;
    z-index: 110;
}

.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #e6e6e6;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#g-nav.panelactive{
    position:fixed;
    z-index: 102;
	top: 0;
    left: 0;
	width:100%;
    height: 100vh;
}

.circle-bg{
    position: fixed;
	z-index:3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #919191;
	transform: scale(0);
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    transition: all .6s;
}

.circle-bg.circleactive{
	transform: scale(50);
}

#g-nav-list{
    display: none;
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block;
}

#g-nav ul {
	opacity: 0;
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    opacity:1;
}

#g-nav.panelactive ul li{
    animation-name:gnaviAnime;
    animation-duration:1s;
    animation-delay:.2s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes gnaviAnime{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	color: #ececec;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
    font-size: 6vw;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #333;
	text-align: center;
	color: #fff;
}

#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#splash_logo h1 {
	color: #e0e0e0;
	font-size: 10vw;
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ff7b00 51%, #ff7b00 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 200%;
	animation: fill 1.5s ease-in-out forwards;
}

@keyframes fill {
    0% {
		background-position: 100% 0%;
	}
    100% {
		background-position: 100% 100%;
    }
}

#main-visual {
    display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	text-align: center;
    background:url("./Images/MainVisual.png") no-repeat center;
    background-size:cover;
}

#main-visual .filter {
    display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100%;
    height: 100%;
	padding-bottom: 10vh;
    background:linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.8) 0%,
        rgba(100, 100, 100, 0.8) 100%);
}

.title {
	padding: 30px 20px;
	font-weight: 900;
}

.scrolldown2{
	position:absolute;
	bottom:30px;
	left:50%;
}

.scrolldown2 span{
	position: absolute;
	left:10px;
	bottom:10px;
	color: #b7b7b7;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.scrolldown2:before {
    content: "";
    position: absolute;
    bottom:0;
    left:-4px;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#b7b7b7;
	animation:
		circlemove 1.6s ease-in-out infinite,
		cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove{
      0%{bottom:-5px;}
     100%{bottom:45px;}
 }

@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

.scrolldown2:after{
	content:"";
	position: absolute;
	bottom:0;
	left:0;
	width:2px;
	height: 50px;
	background:#b7b7b7;
}

#splash_logo img {
	width: 260px;
}

.fadein {
	opacity: 0;
	transform: translate(0, 30px);
}

.in-view {
	opacity: 1;
	transform: translate(0, 0);
	transition: all 1.4s ease-in-out;
}

.red {
    color: red;
}