.container {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 1000;
}

#main-visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.title {
    padding: 30px 20px;
    font-weight: 900;
}

#explain {
    height: 100vh;
}

#explain h2 {
    margin: 3em 0;
    font-weight: 900;
    opacity: 0;
    transform: translate(0, 30px);
}

#explain.in-view h2 {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1.4s ease-in-out;
}

#explain p {
    margin-bottom: 1.5em;
    opacity: 0;
    transform: translate(0, 30px);
}

#explain.in-view p {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1.4s ease-in-out;
}

.quiz-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.quiz-card {
    width: 90%;
    max-width: 600px;
    padding: 30px;
    background-color: rgba(197, 196, 196, 0.055);
    border: gray 2px solid;
    border-radius: 5px;
}

.quiz-num {
    font-size: 20px;
    font-weight: bold;
}

.quiz-num .big {
    font-size: 40px;
    padding: 0 5px;
}

.quiz-sentence {
    padding: 40px 0;
}

.answer-btn-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
}

.answer-btn-box label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
}

.btn-row label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
}

.radio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #a1c2a2;
    color: rgb(99, 99, 99);
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .radio-button {
    background-color: #4CAF50;
    color: white;
}

.correct-mark, .incorrect-mark {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.correct-mark {
    position: absolute;
    color: rgb(158, 255, 73);
    font-weight: bold;
    font-size: 20vw;
    z-index: 99;
}

.incorrect-mark {
    position: absolute;
    color: rgb(255, 18, 18);
    font-weight: bold;
    font-size: 20vw;
    z-index: 99;
}

#results {
    padding-top: 30px;
}

.to-grade {
    width: 90%;
    max-width: 600px;
    margin: 50px 0;
    padding: 20px 30px;
    background-color: white;
    color: #53b300;
    border: #53b300 3px solid;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.24s;
}

.to-grade:hover {
    background-color: #53b300;
    color: white;
}