#main-visual {
    background:url("../Images/learn.png") no-repeat center;
    background-size: cover;
}

@media screen and (min-width: 768px) {
	#main-visual {
		background-size: 50%;
		background-color: #c6e0e3;
	}
}

section:not(#main-visual) {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*height: 100vh;*/
	min-height: 100vh;
    padding: 0 10vw 100px 10vw;
}

section.fake-news {
	padding: 5em 10px !important;
}

section .connection {
	position: absolute;
	top: -80px;
	left: 0;
	width: 100%;
	height: 80px;
}

section h2 {
	position: relative;
	width: fit-content;
    margin: 1.5em auto 1.5em 0;
	font-size: min(6.6vw, 1.5em);
    font-family: 'Kiwi Maru', serif;
}

section>p {
	padding: 0.6em 0;
}

section:not(.fake-news) p {
	text-align: left;
}

#sdgs {
	background: #f2f0e9;
}

#sdgs h3 {
	padding: 2em 0;
}

.sdgs-card-box {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.sdgs-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	width: 80%;
	padding: 1em;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5vw;
	background: #fff;
}

.sdgs-card img  {
	width: 70%;
}

.sdgs-card p {
	width: 90%;
	line-height: 1.5;
}

@media screen and (min-width: 768px) {
	.sdgs-card-box {
		flex-direction: row;
		justify-content: space-between;
		gap: 50px;
	}
	.sdgs-card p {
		width: 70%;
	}
}

#problem {
	background: #fcfae5;
}

#cause {
	background: #ebe6b1;
}

#cause ul {
	padding-left: 28px;
	line-height: 2;
}

#cause ul:nth-child(5) {
	padding-bottom: 30px;
}

#cause li {
	list-style: disc;
	text-align: left;
}

#measures {
	background: #fcfadb;
}

.measures-box {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 3em 0;
}

.measures-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	width: 80%;
	padding: 1em;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5vw;
	background: #fff;
}

.measures-card img  {
	width: 70%;
}

.measures-card p {
	width: 90%;
	line-height: 1.5;
}

@media screen and (min-width: 768px) {
	.measures-box {
		flex-direction: row;
		justify-content: space-between;
		gap: 50px;
	}
	.measures-card {
		border-radius: 3vw;
	}
	.measures-card p {
		width: 70%;
	}
}

.underline::before {
	position: absolute;
	left: 0;
	content: '';
	width: 100%;
	height: 3px;
	background: #000;
	bottom: -3px;
	transform: scale(0, 1);
	transform-origin: left top;
	animation: underlineanime .8s ease forwards;
	animation-delay: .4s;
}
@keyframes underlineanime {
	from {
		transform: scale(0, 1);
	}
	to {
		transform: scale(1, 1);
	}
}

.big {
	font-size: 20px;
	padding: 1em 5px;
}

@media screen and (min-width: 768px) {
	.big {
		font-size: 30px;
	}
	
}

.TextTyping span {
	display: none;
}

.TextTyping::after {
 	content: "|";
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}

.TextTyping.completed::after {
    display: none;
}
